<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hello World!</title>
    </head>
    <body>
        <h1>Hello World!</h1>
        <!-- All of the Node.js APIs are available in this renderer process. -->
        We are using Node.js <script>document.write(process.versions.node)</script>,
        Chromium <script>document.write(process.versions.chrome)</script>,
        and Electron <script>document.write(process.versions.electron)</script>.

        <!-- AngularJS -->
        <div ng-app="myApp" ng-controller="myCtrl">
            First Name: <input type="text" ng-model="firstName"><br>
            Last Name: <input type="text" ng-model="lastName"><br>
            <br>
            Full Name: {{firstName + " " + lastName}}
        </div>

        <!-- Vue.js -->
        <div id="app-6">
            <p>{{ message }}</p>
            <input v-model="message">
        </div>

        <br>

        <video width="480" controls>
            <source src="https://s3-us-west-1.amazonaws.com/www.syudo.site/subdomain/spirit/video/01_animals_by_the_sea.mp4" type="video/mp4"/>
        </video>
    </body>

    <script>
        // You can also require other files to run in this process
        require('./renderer.js')
    </script>

    <!-- Scripts must be loaded at the end for the DOM to be ready -->
    <script src="js/angular.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/handler.js"></script>
</html>
